*
!.github
!.github/**
!.tests/
!.tests/config/
!.tests/config/**
!.tests/results/
!.tests/results/**
!.tests/results/reads/
!.tests/results/reads/**
!.tests/results/reads/original/
!.tests/results/reads/original/**
!config/
!config/**
!resources/
!resources/**
!workflow/
!workflow/**
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!README.md
