*
!.github
!.github/**
!.tests/
!.tests/config/
!.tests/config/**
!.tests/resources/
!.tests/test_data/
!.tests/test_data/**
!.tests/resources/test_reference_panel/
!.tests/resources/test_reference_panel/**
!config/
!config/**
!resources/
!resources/**
!workflow
!workflow/*
!workflow/envs/*
!workflow/report/*
!workfllow/rules/*
!workflow/scripts/*
!workflow/schemas/*
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!README.md
!diagram.md
!tests.py
